.portfolio-gallery__item {
    display: flex;
    position: relative;
    z-index: 1;
}

.portfolio-gallery__item::after {
    content: "";
	display: block;    
    width: 100%;
    height: 100%;    
    position: absolute;
    top: 0;      
    left: 0;   
    background: transparent;
    background-image: linear-gradient(179.83deg, rgba(196, 196, 196, 0) 0px 50px, #213E60);
    opacity: 0.8;
}